<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="homepage">
            <i class="bi bi-snapchat"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="homepage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="list">List developers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="create">Create developer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="delete">Delete developer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="edit">Edit developer</a>
                </li>
            </ul>
        </div>
    </div>
</nav>