<h4>Create developer</h4>
<input class="form-control mb-2" [(ngModel)]="developer.id" disabled placeholder="Id..." type="text">
<input class="form-control mb-2" [(ngModel)]="developer.name" placeholder="Name..." type="text">
<input class="form-control mb-2" [(ngModel)]="developer.job" placeholder="Job..." type="text">
<input class="form-control mb-2" [(ngModel)]="developer.age" placeholder="Age..." type="number">
<input class="form-control mb-2" [(ngModel)]="developer.salary" placeholder="Salary..." type="number">
<input class="form-control mb-2" [(ngModel)]="developer.skillsAsString" placeholder="Skills (one,two,three)..." type="text">
<button class="btn btn-sm btn-success" (click)="create()" [disabled]="buttonDisabled()">Add developer</button>