<h4>Edit developer</h4>
<select [(ngModel)]="developerForSelect" (change)="trigger()" class="form-select mb-2">
    <option [ngValue]="null" disabled selected>Select...</option>
    <option [ngValue]="dev" *ngFor="let dev of developers">{{ dev.name }}</option>
</select>

<div *ngIf="developerForSelect !== null">
    <hr>
    <input class="form-control mb-2" [(ngModel)]="developerToEdit.id" disabled placeholder="Id..." type="text">
    <input class="form-control mb-2" [(ngModel)]="developerToEdit.name" placeholder="Name..." type="text">
    <input class="form-control mb-2" [(ngModel)]="developerToEdit.email" placeholder="Email..." type="text">
    <input class="form-control mb-2" [(ngModel)]="developerToEdit.image" placeholder="Image url..." type="text">
    <input class="form-control mb-2" [(ngModel)]="developerToEdit.job" placeholder="Job..." type="text">
    <input class="form-control mb-2" [(ngModel)]="developerToEdit.age" placeholder="Age..." type="number">
    <input class="form-control mb-2" [(ngModel)]="developerToEdit.salary" placeholder="Salary..." type="number">
    <input class="form-control mb-2" [(ngModel)]="developerToEdit.skillsAsString" placeholder="Skills (one,two,three)..." type="text">
    <button class="btn btn-sm btn-warning" (click)="update()">Update developer</button>
</div>